<div class="form-control-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="start"
     fxLayoutGap="25px"
     fxLayoutGap.xs="5px">

  <div fxFlex="25%"
       fxLayoutAlign.gt-xs="end center">
  </div>


    <label class="checkbox-container">
      Use shipping information on file
      <input type="checkbox" disabled checked="checked">
      <span class="checkmark"></span>
    </label>
</div>

<form [formGroup]="paymentForm" novalidate>

  <div class="form-control-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="start"
       fxLayoutGap="25px"
       fxLayoutGap.xs="5px">

    <div fxFlex="25%"
         fxLayoutAlign.gt-xs="end center"
         [ngClass]="{error: paymentForm.get('name').invalid && paymentForm.get('name').dirty}">
      <label for="name">Name on Card</label>
    </div>

    <div fxFlex [ngClass]="{error: paymentForm.get('card-number').invalid && paymentForm.get('card-number').dirty}">
      <input id="name" type="text" class="form-control" formControlName="name" />
    </div>
  </div>

  <div class="form-control-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="start"
       fxLayoutGap="25px"
       fxLayoutGap.xs="5px">

    <div fxFlex="25%"
         fxLayoutAlign.gt-xs="end center"
         [ngClass]="{error: paymentForm.get('card-number').invalid && paymentForm.get('card-number').dirty}">
      <label for="card-number">Card Number</label>
    </div>

    <div fxFlex [ngClass]="{error: paymentForm.get('card-number').invalid && paymentForm.get('card-number').dirty}">
      <input id="card-number" type="text" class="form-control" formControlName="card-number" />
    </div>
  </div>


  <div class="form-control-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="start"
       fxLayoutGap="25px"
       fxLayoutGap.xs="5px">

    <div fxFlex="25%"
         fxLayoutAlign.gt-xs="end center"
         [ngClass]="{error: paymentForm.get('exp-month').invalid && paymentForm.get('exp-month').dirty}">
      <label for="exp-month">Expiration Month</label>
    </div>

    <div fxFlex [ngClass]="{error: paymentForm.get('exp-month').invalid && paymentForm.get('exp-month').dirty}">
      <select id="exp-month" class="form-control" formControlName="exp-month">
        <option *ngFor="let month of months" [value]="month">{{month}}</option>
      </select>
    </div>

    <div fxFlex="25%"
         fxLayoutAlign.gt-xs="end center"
         [ngClass]="{error: paymentForm.get('exp-year').invalid && paymentForm.get('exp-year').dirty}">
      <label for="exp-year">Expiration Year</label>
    </div>

    <div fxFlex [ngClass]="{error: paymentForm.get('exp-year').invalid && paymentForm.get('exp-year').dirty}">
      <select id="exp-year" class="form-control" formControlName="exp-year">
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
    </div>

  </div>

  <div class="form-control-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="start"
       fxLayoutGap="25px"
       fxLayoutGap.xs="5px">

    <div fxFlex="25%"
         fxLayoutAlign.gt-xs="end center"
         [ngClass]="{error: paymentForm.get('card-number').invalid && paymentForm.get('card-number').dirty}">
      <label for="cvv">CVV</label>
    </div>

    <div fxFlex [ngClass]="{error: paymentForm.get('cvv').invalid && paymentForm.get('cvv').dirty}">
      <input id="cvv" type="text" class="form-control" formControlName="cvv" />
    </div>
  </div>

</form>

<div fxLayoutAlign="start" class="form-group">
  <a fxFlexOffset.gt-xs="calc(25% + 25px)"
     class="btn"
     (click)="onSubmit()">
    <span>Next </span>
  </a>
</div>
